/* @import "$HOME/.config/colors/colors.css" */
@import "../colors/colors.css";

* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 13px;
    background-color: transparent;
    border-radius: 5px;
    min-height: 0;
}

/* Workspaces configuration */

#workspaces {
    margin: 1px 0;
}

#workspaces button {
    color: @foreground;
    border: none;
    padding: 0 5px;
}

#workspaces button:hover {
    transition: none;
    font-weight: bold;
}

#workspaces button.active {
    border: 2px solid @foreground;
    padding: 0 8px;
    margin: 0 2px;
}

#workspaces button.urgent {
    color: @red;
    padding: 0 8px;
}

#custom-power,
#tray,
#bluetooth,
#network,
#battery,
#pulseaudio,
#clock {
    color: @foreground;
    margin: 1px 0;
    padding: 0 10px;
}

#bluetooth {
    font-size: 14px;
    color: @blue;
}

#network {
    color: @foreground;
}

#battery {
    color: @yellow;
}

#pulseaudio {
    color: @orange;
}

#clock {
    margin-right: 10px;
    color: @foreground;
}

#custom-power {
    font-size: 16px;
    margin-left: 10px;
    padding: 0px 10px 0 15px;
}